<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27170171320-9lesq6u41t6kv380lo5ehqqr9ifa8g5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27170171320-9lesq6u41t6kv380lo5ehqqr9ifa8g5g</string>
	<key>API_KEY</key>
	<string>AIzaSyDjcjMvTSzsKSipGfAr4_ZhYy0GVZXQ1rI</string>
	<key>GCM_SENDER_ID</key>
	<string>27170171320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joe.loopCalc</string>
	<key>PROJECT_ID</key>
	<string>direct-obelisk-339520</string>
	<key>STORAGE_BUCKET</key>
	<string>direct-obelisk-339520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27170171320:ios:2b661212e5ed0aa9e0074d</string>
</dict>
</plist>